<a href="https://colab.research.google.com/github/nstagnaro/mat281-repository/blob/main/Lab031-NicolásStagnaro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd

In [2]:
# load data
url='https://drive.google.com/file/d/1SW1_vWBLd50COj4FbQdZenqAwA0nLDqC/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url, sep="|" )
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [3]:
print(f"Numero de observaciones (registros): {len(df)}")

Numero de observaciones (registros): 943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [4]:
print(f"Numero de columnas (atributos): {len(df.columns)}")

Numero de columnas (atributos): 5

3.- Imprime el nombre de todas las columnas

In [5]:
print("columnas:")
df.columns

columnas:

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

4.- Imprima el índice del dataframe

In [6]:
print(df.index)
#print(df.index.values) #Otra opcion para ver todos los valores

RangeIndex(start=0, stop=943, step=1)

5.- ¿Cuál es el tipo de datos de cada columna?

In [7]:
print("Tipo de datos por columna:")
df.dtypes #Usamos .dtypes para saber el tipo de dato de cada columna

Tipo de datos por columna:

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [8]:
df.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

7.- Imprimir solo la columna de **occupation**.

In [9]:
df["occupation"] #Mostramos la columna accupation con los indices respectivos

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [10]:
occupations = df['occupation'].unique() #Juntamos todas las ocupaciones del archivo
print(occupations) 
print("\n")
print(f"Numero de ocupaciones distintas: {len(occupations)}") #Contamos la cantidad total de ocupaciones

['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']


Numero de ocupaciones distintas: 21

9.- ¿Cuál es la ocupación más frecuente?

In [11]:
df2 = df.pivot_table(index = ['occupation'], aggfunc ='size') #Obtenemos la cantidad de personas de cada ocupacion
print(df2) #Imprimimos
print("\n") 
print(f"La ocupacion mas frecuente es '{df2.idxmax()}' con: {max(df2)}") #Mostramos la ocupacion con mas personas

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
dtype: int64


La ocupacion mas frecuente es 'student' con: 196

10.- ¿Cuál es la edad media de los usuarios?

In [13]:
df_2 = df.describe() #El .describe lo trabajamos como dataframe aparte
print(df_2)
print("\n")
print(f"La edad media de los usuarios es: {df_2.loc['mean'][1]} años") #Impriminos la edad media

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000


La edad media de los usuarios es: 34.05196182396607 años

11.- ¿Cuál es la edad con menos ocurrencia?

In [14]:
df2 = df['age'].value_counts().sort_values().head(5) #Obtenemos las cinco edades con menor ocurrencia 
df3 = df2.index.tolist() #Guardamos las edades en una lista
print(df2)
print("\n")
print(f"La primera edad menos frecuente es {df3[0]} años con: una persona")
print(f"La segunda edad menos frecuente es {df3[1]} años con: una persona")
print(f"La tercera edad menos frecuente es {df3[2]} años con: una persona")
print(f"La cuarta edad menos frecuente es {df3[3]} años con: una persona")
print(f"La quinta edad menos frecuente es {df3[4]} años con: una persona")

73    1
7     1
10    1
11    1
66    1
Name: age, dtype: int64


La primera edad menos frecuente es 73 años con: una persona
La segunda edad menos frecuente es 7 años con: una persona
La tercera edad menos frecuente es 10 años con: una persona
La cuarta edad menos frecuente es 11 años con: una persona
La quinta edad menos frecuente es 66 años con: una persona